<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <iframe
        src="https://microsoft-my.sharepoint.com/personal/eyesonblog_microsoft_com/_layouts/15/embed.aspx?UniqueId=d19b4062-e167-4926-9a82-936b09176de8&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
        frameborder="0" scrolling="no" allowfullscreen title="How to Request Review and Post Blog.mp4"></iframe>
      <ion-card-header>
        <ion-card-title>67s to learn how to request review and post blog.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>