<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <iframe
        src="https://microsoft-my.sharepoint.com/personal/eyesonblog_microsoft_com/_layouts/15/embed.aspx?UniqueId=3761b3ac-80f0-4342-a92d-d89739f2dff3&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
        frameborder="0" scrolling="no" allowfullscreen title="How to Join EyesOnBlog.mp4"></iframe>
      <ion-card-header>
        <ion-card-title role="contentinfo">43s to learn how to join EyesOnBlog.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>