<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding filter-div">
    <select (change)="selectPod($event.target.value)" aria-label="Select Pod">
      <option *ngFor="let pod of pods" value="{{ pod.podId }}">{{ pod.podName.toUpperCase() }}</option>
    </select>
    <span>&nbsp;</span>
    <select (change)="selectYear($event.target.value)" aria-label="Select Year">
      <option *ngFor="let year of years;" value="{{ year }}">{{ year }}</option>
    </select>
    <span>&nbsp;</span>
    <select (change)="selectBasis($event.target.value)" aria-label="Select Basis">
      <option value="0">CY</option>
      <option value="1">FY</option>
    </select>
  </div>
  <div class="ion-padding category-chart-div">
    <ion-card>
      <ion-card-content aria-label="my-yearly-post-by-month">
        <canvas id="my-yearly-post-by-month" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-post-by-vertical">
        <canvas id="my-yearly-post-by-vertical" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-post-by-vertical-by-month">
        <canvas id="my-yearly-post-by-vertical-by-month" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-pageview-by-month">
        <canvas id="my-yearly-pageview-by-month" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-pageview-by-vertical">
        <canvas id="my-yearly-pageview-by-vertical" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-pageview-by-vertical-by-month">
        <canvas id="my-yearly-pageview-by-vertical-by-month" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-avg-pageview-per-post-by-month" >
        <canvas id="my-yearly-avg-pageview-per-post-by-month" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-avg-pageview-per-post-by-vertical">
        <canvas id="my-yearly-avg-pageview-per-post-by-vertical" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content aria-label="my-yearly-avg-pageview-per-post-by-vertical-by-month">
        <canvas id="my-yearly-avg-pageview-per-post-by-vertical-by-month" role="img" tabindex="1"></canvas>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>