<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <iframe
        src="https://microsoft-my.sharepoint.com/personal/eyesonblog_microsoft_com/_layouts/15/embed.aspx?UniqueId=aef4db7e-46ef-478b-a6b0-cd226e117ced&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
        frameborder="0" scrolling="no" allowfullscreen title="How to Review Blog.mp4"></iframe>
      <ion-card-header>
        <ion-card-title>48s to learn how to review blog.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>